@charset "utf-8";

/*nesta parte aqui temos o reset da página*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-image: -moz-linear-gradient(#457983, #578b95);
    background-color: #778eb0;
    padding: 0;
    margin: 0;
    border: 0;
}

header {
    background-color:
}

h1 {
    color: black;
    font-size: 60px;
    padding: 0;
}

nav {
    height: 30px;
    background-color: ##778eb0;
}

main {
    background-color: #f3daaa
    height: auto
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #8195b3;
    height: 75px;
}

img {
    width: 20%;
    height: 100%;
}

.container {
    display: flex;
}